@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar bg-dark text-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color: burlywood">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cinema BVHoa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            string user = HttpContextAccessor.HttpContext.Session.GetString("UserName") ?? "";
                        }
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Shows" asp-action="Index">Show</a>
                        </li>
                        @if (user == "")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-p" asp-area="" asp-controller="Home" asp-action="Logout">Logout (@user)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <hr  width="100%" size="5px" align="center" color="red" />
    <footer class="border-top: 2px">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li> Giới thiệu</li>
                        <li>Tiện ích online</li>
                        <li>Thẻ quà tặng</li>
                        <li>Tuyển dụng</li>
                        <li>Liên hệ quảng cáo</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li> Điều khoản sử dụng</li>
                        <li>Điều khoản chung</li>
                        <li>Chính sách thanh toán</li>
                        <li>Chính sách bảo mật</li>
                        <li>Câu hỏi thường gặp</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li> Chăm sóc khách hàng</li>
                        <li>Hotline: 0919 7287</li>
                        <li>Giờ làm việc: 8:00 - 23:00 </li>
                        <li>Email hỗ trợ: doanngochoa11092001@gmail.com</li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
