@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Ciname</h1>
    <p> <a href="">Watch movie</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem;">
                <img src="images/dien_thoai_den.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Điện thoại đen</h5>
                    <p class="text-body" style="float: left">
                        Thể loại: Kinh Dị
                        Thời lượng: 101 phút 57 giây
                        Khởi chiếu: 24-06-2022
                    </p>
                    <a asp-action="Index" asp-controller="Shows" class="btn btn-primary" style="margin-left: 50px">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem;">
                <img src="images/khung_long.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem;">
                <img src="images/poster-thor-viet-9761.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem; margin-top: 50px">
                <img src="images/minions_2_-_kc_01.7.22_1_.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-action="Index" asp-controller="Shows" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem;  margin-top: 50px">
                <img src="images/nguoi_moi_gioi.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 50px">
            <div class="card" style="width: 18rem;  margin-top: 50px">
                <img src="images/em_va_trinh.jpg" height="450" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>


</div>



